* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
#game-container h1 {
  margin: 10px;
  font-size: 36px;
}

#players-container {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  margin: 10px 0;
}

#players-container h3 {
  margin: 10px 10px;
  font-size: 18px;
}

canvas {
  image-rendering: crisp-edges;
}

#undo {
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  background-color: orange;
}

#replay {
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  background-color: green;
}
